<!DOCTYPE html>
<html>
  <head>
    <title>BuildingAuthorization</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <% end %>
    
    <%= yield %>

    <footer>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <% if user_signed_in? %>
        <li><%= button_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </footer>
  </body>
</html>
